@charset "utf-8";

/* = Bugfix For Android
-------------------------------------------------------------- */
* {
	max-height: 999999px;
}

/* = Init
-------------------------------------------------------------- */
html {
	font-size: 62.5%;
}

body,
input,
textarea {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2;
	font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
	color: #333;
}

body {
	background: #fff;
}

img,
iframe {
	max-width: 100%;
}

/* = reset element style
-------------------------------------------------------------- */
ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* = Anchor
-------------------------------------------------------------- */
a {
	color: inherit;
	transition: opacity ease 0.2s;
}

a:focus {
	outline: none;
}

a:link,
a:visited {
	color: inherit;
	text-decoration: none;
}

a:active,
a:hover {
	text-decoration: none;
	opacity: 0.7;
}

a.underline {
	text-decoration: underline;
}

a.img-box {
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
	transition: 0.35s opacity;
	transition: opacity ease 0.2s;
}

a.tel,
.tel a {
	opacity: 1;
}

@media screen and (min-width: 768px) {

	a.tel,
	.tel a {
		pointer-events: none;
	}
}

/* = Table
-------------------------------------------------------------- */
table {
	border-collapse: separate;
	border-spacing: 0;
	empty-cells: show;
	border-top: 1px solid #dcdddd;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #dcdddd;
	margin: 20px 0;
	width: 100%;
}

td,
th {
	padding: 10px;
	border-top: none;
	border-right: 1px solid #dcdddd;
	border-bottom: 1px solid #dcdddd;
	border-left: none;
}

th {
	background: #efefef;
}

figure {
	margin: 0;
}

/* = Common Class
-------------------------------------------------------------- */
.img-box {
	font-size: 0;
	line-height: 1;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.sp-only {
		display: none !important;
	}
}

@media screen and (max-width: 767px) {
	.pc-only {
		display: none !important;
	}
}