/* -------------------------

entry-article

---------------------------- */
#article-container {
	width: 100%;
}

#article-container.has-sidebar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#article-container.has-sidebar #entry-article {
	box-sizing: border-box;
	width: 70%;
	padding-right: 20px;
}

#article-container.has-sidebar #entry-sidebar {
	width: 30%;
	padding-left: 20px;
	box-sizing: border-box;
}

@media screen and (max-width: 767px) {

	#article-container.has-sidebar #entry-article,
	#article-container.has-sidebar #entry-sidebar {
		width: 100%;
		padding: 0;
	}
}

#entry-article {
	box-sizing: border-box;
	width: 100%;
}

#entry-article .post-cats {
	margin-left: 30px;
}

#entry-article .post-ttl {
	margin-top: 20px;
	font-size: 3.6rem;
	font-family: var(--shippori);
}

.entry-inner {
	padding: 100px 0;
}

@media screen and (max-width: 767px) {
	#entry-article {
		width: 100%;
		padding: 0;
		border-right: none;
	}

	#entry-article .post-ttl {
		font-size: 2.8rem;
	}
}

#entry-sidebar .sidebar-container .head {
	margin-bottom: 30px;
}

#entry-sidebar .sidebar-container+.sidebar-container {
	margin-top: 60px;
}

#entry-sidebar .sidebar-container .post-cats {
	flex-direction: column;
	align-items: start;
	row-gap: 15px;
}

@media screen and (max-width: 767px) {
	#entry-sidebar {
		width: 100%;
		margin-top: 120px;
		padding: 0;
	}
}

/* -------------------------

entry-content

---------------------------- */
.entry-content {
	font-size: 1.6rem;
}

.entry-content a {
	color: #06c;
}

.entry-content p {
	line-height: 1.8;
	margin: 2em 0;
}

.entry-content hr {
	line-height: 0;
	height: 0;
	margin: 4rem 0;
	padding: 0;
	color: #fff;
	border: none;
	border-top: 1px dashed #eee;
	background: none;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4 {
	font-family: var(--shippori);
	font-weight: var(--medium);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.entry-content h1 {
	font-size: 2.8rem;
	margin: 30px 0;
}

.entry-content h2 {
	font-size: 3.2rem;
	margin: 50px 0 25px;
	padding: 15px 0;
	letter-spacing: .05em;
	border-bottom: 2px solid var(--white);
}

.entry-content h3 {
	position: relative;
	font-size: 2.4rem;
	box-sizing: border-box;
	margin: 40px 0 30px;
	padding-left: 40px;
}

.entry-content h3::before {
	content: '';
	background: #fff;
	position: absolute;
	width: 30px;
	height: 1px;
	left: 0px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.entry-content h4 {
	font-size: 2rem;
	margin: 50px 0 30px;
	padding: 5px 0 5px 15px;
	border-left: 4px solid var(--navy-light);
}

.entry-content h4.noborder {
	padding-bottom: 0;
	content: none;
	border: none;
}

.entry-content h4.noborder::after,
.entry-content .infobox h4::after {
	content: none;
}

.entry-content span.red {
	color: #df0101;
}

.entry-content span.bold {
	font-weight: bold;
	color: #310b00;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.entry-content span.underline {
	font-weight: bold;
	text-decoration: underline;
	color: #310b00;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.entry-content span.marker {
	font-weight: bold;
	padding: 3px 0 4px;
	color: #310b00;
	background: linear-gradient(transparent 60%, rgba(255, 167, 0, .7) 60%);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.entry-content blockquote {
	font-size: 1.7rem;
	font-weight: bold;
	line-height: 1.65;
	position: relative;
	margin: 4rem 0;
	padding: .5rem 2.5rem;
	color: #555;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.entry-content blockquote::before,
.entry-content blockquote::after {
	position: absolute;
	display: inline-block;
	width: 3.5rem;
	height: 2.5rem;
	content: '';
}

.entry-content blockquote::before {
	top: -1.2rem;
	left: 0;
}

.entry-content blockquote::after {
	right: 0;
	bottom: -1.2rem;
}

.entry-content blockquote p {
	margin: 2rem 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.entry-content blockquote small,
.entry-content blockquote small a {
	font-size: 11px;
	font-weight: normal;
	color: #888;
}

.entry-content blockquote cite {
	font-size: 1.2rem;
}

.instagram-media {
	max-width: 520px !important;
}

.twitter-tweet {
	width: 520px !important;
}

.entry-content blockquote.wp-embedded-content,
.entry-content blockquote.instagram-media,
.entry-content blockquote.twitter-tweet {
	box-sizing: border-box;
	border: 1px solid #eee;
}

.entry-content blockquote.wp-embedded-content::after,
.entry-content blockquote.wp-embedded-content::before,
.entry-content blockquote.instagram-media::after,
.entry-content blockquote.instagram-media::before,
.entry-content blockquote.instagram-media-registered::after,
.entry-content blockquote.instagram-media-registered::before,
.entry-content blockquote.twitter-tweet::after,
.entry-content blockquote.twitter-tweet::before {
	display: none !important;
}

.entry-content iframe.wp-embedded-content {
	width: 100% !important;
}

.entry-content .instagram-media {
	margin: 3.5rem 0 !important;
}

.entry-content .infobox {
	line-height: 1.65;
	margin: 2.5rem 0;
	padding: 1rem 2.5rem;
	background: #fdf9f5;
}

.entry-content .infobox h4 {
	font-size: 1.6rem;
	margin: 1.5rem 0;
	padding: 0;
	border: none;
}

.entry-content .infobox p {
	font-size: 1.5rem;
	margin: 1.5rem 0;
}

.entry-content .ytsl-wrapper {
	margin: 4rem 0;
}

.entry-content .ytsl-wrapper img {
	display: none !important;
}

.entry-content img {
	height: auto !important;
}

.entry-content .imagebox br {
	display: none;
}

.entry-content .imagebox small,
.entry-content .imagebox small a {
	font-size: 11px;
	font-weight: normal;
	color: #888;
}

.entry-content ul,
.entry-content ol {
	text-align: left;
}

.entry-content li {
	position: relative;
	padding-left: 20px;
}

.entry-content li:before {
	position: absolute;
	top: 14px;
	left: 0;
	width: 6px;
	height: 6px;
	margin: auto;
	content: '';
	border-radius: 50%;
	background: var(--navy-light);
}

.entry-content a {
	text-decoration: underline;
}

.entry-thumb {
	margin-top: 50px;
}

.entry-thumb img {
	width: 100%;
	height: 388px;
}

.wp-block-file a {
	vertical-align: middle;
}

.wp-caption {
	line-height: 18px;
	box-sizing: border-box;
	max-width: 100% !important;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
	background: #f1f1f1;
}

.wp-caption img {
	max-width: 100%;
	margin: 0;
}

.wp-caption p.wp-caption-text {
	font-size: 14px;
	margin: 10px 0 0 0;
	color: #777;
}

@media screen and (max-width: 767px) {
	.entry-content h1 {
		font-size: 2.8rem;
	}

	.entry-content h2 {
		font-size: 2.4rem;
	}

	.entry-content h3 {
		font-size: 2rem;
	}

	.entry-content h4 {
		font-size: 1.8rem;
	}
}