.home {
	color: var(--white);
}

.home main {
	margin-top: 0;
}

@media screen and (max-width: 767px) {
	.home main {
		margin-top: 70px;
	}
}

/* home-header */
#header {
	top: -100%;
	transition: all 1s ease;
}

#header.is-active {
	top: 0;
	transition: all 1s ease;
}

#home-header .logo-box {
	z-index: 10;
	position: absolute;
	top: 30px;
	left: 30px;
}

#home-header .nav-box {
	position: absolute;
	background-color: #fff;
	top: 0;
	display: flex;
	right: 0;
	z-index: 10;
}

#home-header .nav-box .h-menu {
	display: flex;
	padding: 14px 20px;
	flex-wrap: wrap;
	font-size: 1.6rem;
	color: var(--black);
	column-gap: 20px;
}

#home-header .btn-recruit span {
	padding: 10px 0 10px 40px;
}

@media screen and (max-width: 767px) {
	#header {
		top: 0%;
		transition: all 1s ease;
	}

	#home-header {
		display: none;
	}
}

/* mv */
#home-mv {
	position: relative;
}

#home-mv::before {
	content: '';
	background-color: var(--navy-light);
	position: absolute;
	top: 90px;
	width: calc(100vw - 170px);
	min-width: 1100px;
	height: calc(100vh - 90px + 200px);
	right: 100%;

	animation-name: slideIn;
	animation-duration: 1s;
	animation-delay: .5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#home-mv .mv-inner {
	height: 100vh;
}

#home-mv-slider {
	left: 500px;
	height: calc(100vh - 131px);
}

#home-mv-slider .swiper,
#home-mv-slider .swiper img {
	height: 100%;
	min-width: 1000px;
}

#home-mv-slider .swiper img {
	width: calc(100vw - 500px);
	object-fit: cover;
}

#home-mv-slider .swiper-pagination {
	bottom: -33px;
	display: inline-block;
	width: auto;
	left: unset;
	right: 690px;
}

#home-mv-slider .swiper-pagination-bullet {
	background: none;
	border: 1px solid var(--white);
	opacity: 1;
}

#home-mv-slider .swiper-pagination-bullet-active {
	background: var(--white);
}

#home-mv .txt-area {
	position: absolute;
	bottom: -100px;
	left: 170px;
	z-index: 10;
}

#home-mv .txt-area .ttl {
	font-size: 10rem;
	margin-top: 50px;
	font-family: var(--shippori);
}

#home-mv .scroll {
	position: absolute;
	text-transform: uppercase;
	left: 80px;
	bottom: 0;
	font-size: 1.3rem;
	padding: 0 20px 88px;
	/* background-image: url(../images/common/circle_01.png); */
	background-position: bottom 20px center;
	background-size: 50px;
	background-repeat: no-repeat;
	writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
}

#home-mv .scroll::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 90px;
	width: 1px;
	height: 40px;
	background: #eee;
	animation: scrollAnimation 1.8s ease-in-out infinite;
	opacity: 0;
}

@media screen and (min-width: 768px) {
	#home-mv-slider {
		opacity: 0;
		animation-name: fadeInFromRight;
		animation-duration: 1.5s;
		animation-delay: 1.5s;
		animation-fill-mode: forwards;
	}

	#home-mv .txt-area {
		opacity: 0;
		animation-name: fadeInFromBottom;
		animation-duration: 1.5s;
		animation-delay: 2s;
		animation-fill-mode: forwards;
	}
}

@media screen and (max-width: 767px) {
	#home-mv {
		background-color: var(--navy-light);
	}

	#home-mv::before {
		content: none;
	}

	#home-mv .mv-inner {
		height: auto;
	}

	#home-mv-slider {
		left: 0;
		height: 500px;
	}

	#home-mv-slider .swiper,
	#home-mv-slider .swiper img {
		width: 100%;
		min-width: 100%;
	}

	#home-mv .txt-area {
		position: relative;
		bottom: 0;
		left: 0;
		padding: 25px 15px 100px;
	}

	#home-mv .txt-area .ttl {
		margin-top: 20px;
		font-size: 4rem;
		white-space: nowrap;
	}

	#home-mv .scroll {
		left: unset;
		right: 10px;
		top: 420px;
		bottom: unset;
		background-size: 30px;
		background-position: bottom center;
		padding: 0 10px 44px;
		z-index: 10;
	}

	#home-mv .scroll::after {
		animation: scrollAnimationSp 1.8s ease-in-out infinite;
	}
}

/* about */
#home-about {
	position: relative;
	margin-top: 200px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#home-about::before {
	content: '';
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#home-about .sec-inner {
	padding: 0px 0 200px;
}

#home-about .sec-ttl-box {
	position: relative;
	left: 0;
	top: -50px;
	padding-bottom: 0;
}

#home-about .content-box {
	width: 640px;
	margin: -85px 0 0 auto;
}

@media screen and (max-width: 767px) {

	#home-about {
		margin-top: 0;
	}

	#home-about .sec-inner {
		padding: 100px 0;
	}

	#home-about .sec-ttl-box {
		top: 0;
	}

	#home-about .content-box {
		width: 100%;
		margin: 60px 0 0;
	}
}

/* business */
#home-business .sec-inner {
	padding: 150px 0 588px;
}

#home-business .content-box {
	margin-top: 175px;
}

#home-business .img-area img {
	position: absolute;
}

#home-business .img-area img:nth-child(1) {
	top: 346px;
	left: -150px;
}

#home-business .img-area img:nth-child(2) {
	top: 0;
	right: -144px;
}

#home-business .img-area img:nth-child(3) {
	top: 700px;
	right: -5px;
}

@media screen and (max-width: 767px) {
	#home-business .sec-inner {
		padding: 80px 0 0;
	}

	#home-business .content-box {
		margin-top: 60px;
	}

	#home-business .img-area {
		margin-top: 30px;
	}

	#home-business .img-area img {
		height: 200px;
		width: 100%;
		object-fit: cover;
	}

	#home-business .img-area img:nth-child(1),
	#home-business .img-area img:nth-child(2),
	#home-business .img-area img:nth-child(3) {
		position: relative;
		top: unset;
		left: unset;
		right: unset;
	}
}

#home-news .content-width {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 40px;
}

#home-news .content-box {
	width: 643px;
}

#home-news .m-post-container {
	display: none;
}

#home-news .m-post-container.is-show {
	display: block;
}

@media screen and (max-width: 767px) {

	#home-news .sec-ttl-wrapper {
		width: 100%;
	}

	#home-news .content-box {
		width: 100%;
	}
}

/* home-recruit */
#home-recruit {
	overflow: hidden;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 200px, var(--navy-light) 0, var(--navy-light) 100%);
}

#home-recruit .sec-inner {
	padding-top: 0;
}

#home-recruit .img-area {
	width: 1270px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#home-recruit .img-area img {
	object-fit: cover;
}

#home-recruit .img-area img.is-active:nth-child(1) {
	transition-delay: 0s;
}

#home-recruit .img-area img.is-active:nth-child(2) {
	transition-delay: .4s;
}

#home-recruit .img-area img.is-active:nth-child(3) {
	transition-delay: .8s;
}

#home-recruit .img-area img.is-active:nth-child(4) {
	transition-delay: 1.2s;
}

#home-recruit .txt-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;
}

@media screen and (max-width: 767px) {
	#home-recruit .img-area {
		width: 100%;
	}

	#home-recruit .img-area img {
		width: 50%;
	}

	#home-recruit .txt-area .sec-ttl-box {
		width: 100%;
	}

	#home-recruit .txt-area .cont {
		margin-top: 30px;
	}
}